<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Input</title>
    </head>
    <body>
        <h1>OperatorInfo</h1>
        <h2>{{api_input}}</h2>
        <!-- <h2>
            <ul>
                <li> {{ senderCode }} </li>
                <li> {{ operatorCode }} </li>
                <li> {{ unitCode }} </li>
                <li> {{ identifyType }} </li>
                <li> {{ cbCustId }} </li>
                <li> {{ ccCustId }} </li>
                <li> {{ custId }} </li>
                <li> {{ birthDt }} </li>
                <li> {{ custName }} </li>
            </ul>
        </h2>
        <h1>API name</h1>
        <h2>{{apiName}}</h2> -->
        <form action="{% url 'singlepage:addapi' %}" method="post">
            {% csrf_token %}
            {{ form2 }}
            <input type="submit" value="Submit">
        </form>



    </body>
</html>