<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Input</title>
    </head>
    <body>
        <h1>OperatorInfo</h1>
        <h2>{{api_input}}</h2>
        <!-- <h2>
            <ul>
                <li> {{ senderCode }} </li>
                <li> {{ operatorCode }} </li>
                <li> {{ unitCode }} </li>
                <li> {{ identifyType }} </li>
                <li> {{ cbCustId }} </li>
                <li> {{ ccCustId }} </li>
                <li> {{ custId }} </li>
                <li> {{ birthDt }} </li>
                <li> {{ custName }} </li>
            </ul>
        </h2>-->
        <h1>API name</h1>
        <h2>{{api_name}}</h2> 

        <h1>TEST FUNCT</h1>
        <h2>{{dummy_response}}</h2>

    </body>
</html>